@{
    ViewBag.Title = "Chat";
}
<link rel="stylesheet" type="text/css" href="~/Content/Chat.css">

<h2>Chat</h2>
<div class="tekstcontainer" id="out">
    <ul id="discussion"></ul>
</div>
<input type="text" id="message" class="textbox" />
<input type="button" id="sendmessage" class="sendmessage" value="Stuur uw bericht" />
<input type="hidden" id="displayname" />


@section scripts {
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <!--referencies naar scripts-->
    <script>
        $(function () {
            var chat = $.connection.chatHub;
            // functie die de hub aanroept die gaat broadcasten
            chat.client.addNewMessageToPage = function (name, message) {
                $('#discussion').append('<li> <strong>' + htmlEncode(name) +
                    ': </strong>' + htmlEncode(message) + '</li>');
            };
            // Gebruiker om zijn naam vragen
            $('#displayname').val(prompt('Geef je rol en naam:', ''));
            $('#message').focus();
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    // Verzend bericht
                    chat.server.send($('#displayname').val(), $('#message').val());
                    //scrolled naar beneden
                    window.scrollTo(0, document.body.scrollHeight);
                    // clear tekstvak en zet focus er op
                    $('#message').val('').focus();
                });
                // zorg ervoor dat enter ook werkt om te versturen
                $('#message').keydown(function (key) {
                    if (key.keyCode == 13) {
                        chat.server.send($('#displayname').val(), $('#message').val());
                        $('#message').val('').focus();
                        window.scrollTo(0, document.body.scrollHeight);
                    }
                });
            });
        });
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}


